<div class="right">
    <small>(by <%= quiz.author ? quiz.author.username : 'Anonymous' %>)</small>
</div>

<h1>Play:</h1>

<form action="/quizzes/<%= quiz.id %>/check" method="get">
    <p>Question: <b><%= quiz.question %></b></p>

    <div class="wideRow">
        <input type="text" class="itemWide" name="answer"
            value="<%= answer %>" placeholder="Answer"
            autocomplete="off" />
        <input type="submit" value="Check" class="itemNarrow" />  
    </div>
</form>

<h1>Tips</h1>

<!-- Si está logueado dejará crear nuevos tips -->
<% if ( session.user ) { %>
    <% include ../tips/new %>
<% } %>

<% var tips = quiz.tips %>

<% include ../tips/index %>

<a href="/goback"><button>Go Back</button></a>